<suite name="Veeva Assignment" parallel="tests" thread-count="2" configfailurepolicy="continue">
	<listeners>
		<listener class-name="org.veeva.report.util.BrowserParameterListener" />
		<listener class-name="org.veeva.report.util.ReportCleanupListener" />
		<listener class-name="org.veeva.report.util.CucumberReport" />

	</listeners>


	<test name="VeevaOnChrome-CP1">

		<parameter name="browser" value="chrome" />
		<classes>
			<class name="runners.TestRunnerCP" />
		</classes>
	</test>

</suite>